[submodule "availability/condition/days"]
	path = availability/condition/days
	url = https://github.com/vfremaux/moodle-availability_days.git
	branch = MOODLE_36_STABLE

[submodule "theme/snap"]
	path = theme/snap
	url = https://github.com/HarcourtsAcademy/moodle-theme_snap.git
	branch = MOODLE_39_STABLE
	