[submodule "availability/condition/days"]
	path = availability/condition/days
	url = https://github.com/vfremaux/moodle-availability_days.git
	branch = MOODLE_36_STABLE

[submodule "lib/editor/atto/plugins/styles"]
	path = lib/editor/atto/plugins/styles
	url = https://github.com/moodleuulm/moodle-atto_styles.git
	branch = master

[submodule "theme/snap"]
	path = theme/snap
	url = https://github.com/HarcourtsAcademy/moodle-theme_snap.git
	branch = MOODLE_39_STABLE

[submodule "blocks/configurable_reports"]
	path = blocks/configurable_reports
	url = https://github.com/HarcourtsAcademy/moodle-block_configurablereports.git
	branch = MOODLE_36_STABLE
