/*
 * Guest specific CSS loaded by general.php.
 */

/*-- Hide the activities on the front page. --*/
body.pagelayout-frontpage ul.section {
    display: none;
}

/*-- Hide the navigation and settings menus from students and guests. --*/
.block_navigation {
    display: none;
}

.block_settings {
    display: none;
}

.block .header .block_action {
    display: none;
}

/*-- Hide the section numbers. --*/
.pagelayout-course li.section div.left.side {
    display: none;
}

.pagelayout-course li.section div.right.side {
    display: none;
}

/*-- Hide items on the course category page so that only the carousel appears. --*/
.pagelayout-coursecategory .categorypicker {
    display: none;
}

.pagelayout-coursecategory .region-content table.generalbox {
    display: none;
}

.pagelayout-coursecategory .region-content h2.main {
    display: none;
}

/*-- Sub-categories box --*/
#page-course-category .region-content .generalbox {
    width: 100%;
    margin: 0;
    padding-left: 0;
    background: 0;
}

#page-course-category .region-content .generalbox li {
   margin-left: 10px;
}

.pagelayout-coursecategory .coursebox {
    border: 0;
}

.pagelayout-coursecategory .box.courseboxes {
    display: none;
}

.pagelayout-coursecategory form#coursesearchnavbar {
    display:none;
}

.pagelayout-coursecategory form#coursesearch2 {
    display:none;
}

/*-- Hide the date modified on HTML pages. --*/
.region-content div.modified {
    display: none;
}

/* AV Gallery (Moodle Database)
---------------------------*/
.course-1.path-mod-data .tabtree { /* OLD Media Library instance - delete */
    display: none;
}

.course-1.path-mod-data .paging { /* OLD Media Library instance - delete */
    display: none;
}

.course-45.path-mod-data .groupselector {
    display: none;
}

.course-45.path-mod-data h2.main {
    display: none;
}

.course-45.path-mod-data .tabtree {
    display: none;
}

.course-45.path-mod-data .paging {
    display: none;
}