/*
 * Student specific CSS loaded by general.php.
 */ 
 
/*-- Hide the first topic from students in the Listing course on the production server. --*/
.course-3 #section-1 {
    display: none;
}

/*-- Hide the navigation menus from students and guests. --*/
.block_navigation {
    display: none;
}

/*-- Hide items on the course category page so that only the carousel appears. --*/
.pagelayout-coursecategory .categorypicker {
    display: none;
}

.pagelayout-coursecategory .region-content table.generalbox {
    display: none;
}

.pagelayout-coursecategory .region-content h2.main {
    display: none;
}

/*-- Sub-categories box --*/
#page-course-category .region-content .generalbox {
    width: 100%;
    margin: 0;
    padding-left: 0;
    background: 0;
}

#page-course-category .region-content .generalbox li {
   margin-left: 10px;
}

.pagelayout-coursecategory .coursebox {
    border: 0;
}

.pagelayout-coursecategory .box.courseboxes {
    display: none;
}

.pagelayout-coursecategory form#coursesearchnavbar {
    display:none;
}

/* Hide course search and 'all course' links. */
form#coursesearch {
    display: none;
}

body.course.course-1 .region-content table {
    display: none;
}

form#coursesearch2 {
    display: none;
}

/* Hide 'All courses' link in the Courses List block. */
.region-content .block_course_list .footer {
    display: none;
}

/* Hide activities on the home page. */
body.course-1 ul.section li.activity {
    display: none;
}

/* Hide course trainer names on the home page. */
body.course-1 .coursebox .teachers {
    display: none;
}

/* AV Gallery (Moodle Database)
---------------------------*/
.course-1.path-mod-data .tabtree {
    display: none;
}

.course-1.path-mod-data .paging {
    display: none;
}

/* Crossword Game - full width */
.path-mod-game.pagelayout-incourse #page-content #region-main-box,
.path-mod-game.pagelayout-incourse #page-content #region-post-box,
.path-mod-game.pagelayout-incourse #page-content #region-main-wrap {
    left: 0;
    right: 0;
    width: 100%;
    margin-left: 0;
    float: none;
}

.path-mod-game.pagelayout-incourse #page-content #region-main {
    margin-left: 15px;
}

.path-mod-game.pagelayout-incourse .block-region {
    display: none;
}

/* Hide the settings block from students in Lessons */
.block_settings.block {
    display: none;
}

/* Hide the Topic Overview heading */
body#page-course-view-topics h2.headingblock.header.outline {
    display: none;
}

body#page-course-view-topics ul.topics li#section-0 div.left.side,
body#page-course-view-topics ul.topics li#section-0 div.right.side {
    display: none;
}