/* 
    Document   : content
    Created on : 10/05/2011, 11:21:08 AM
    Author     : timbutler
    Description:
        Contains Academy specific styles for content and assessments.
*/

/* All content */
img.img-bordered {
    border: 1px solid #ddd;
}

img.img-padded {
    margin: 6px;
}

img.img-align-left {
    float: left;
    margin: 0 6px 6px 0;
}

img.img-align-right {
    float: right;
    margin: 0 0 6px 6px;
}

/* Assessments */
.unassessed-assessment input.answer {
    display: block;
    width: 360px;
    margin: 1em;
}

/* Lessons */
table.roleplaymedia th,
table.roleplaymedia td {
  padding: 0;
}

/* NZ Online CE */
table.table-indented {
    margin-left: 2em;
    margin-right: 2em;
}

table.ce2013-weblink {
    width: 100%;
}

/* iStart24 Online */
.istartaction {
    padding: 0 0 4px 58px;
    border-bottom: 1px solid #eee;
    min-height: 60px;
    font-style: italic;
}

.istartaction.istartaction-affirmations {
    background: url([[pix:theme|istart/affirmations]]) top left no-repeat;
}
.istartaction.istartaction-form {
    background: url([[pix:theme|istart/form]]) top left no-repeat;
}
.istartaction.istartaction-h1 {
    background: url([[pix:theme|istart/h1]]) top left no-repeat;
}
.istartaction.istartaction-letter {
    background: url([[pix:theme|istart/letter]]) top left no-repeat;
}
.istartaction.istartaction-material {
    background: url([[pix:theme|istart/material]]) top left no-repeat;
}
.istartaction.istartaction-online {
    background: url([[pix:theme|istart/online]]) top left no-repeat;
}
.istartaction.istartaction-purchase {
    background: url([[pix:theme|istart/purchase]]) top left no-repeat;
}
.istartaction.istartaction-read {
    background: url([[pix:theme|istart/read]]) top left no-repeat;
}
.istartaction.istartaction-schedule {
    background: url([[pix:theme|istart/schedule]]) top left no-repeat;
}
.istartaction.istartaction-script {
    background: url([[pix:theme|istart/script]]) top left no-repeat;
}
.istartaction.istartaction-tutorial {
    background: url([[pix:theme|istart/tutorial]]) top left no-repeat;
}
.istartaction.istartaction-video {
    background: url([[pix:theme|istart/video]]) top left no-repeat;
}
.istartaction.istartaction-write {
    background: url([[pix:theme|istart/write]]) top left no-repeat;
}
/* iStart24 Week Menus */
.istart-menu-wrapper {
    padding: 2.3em 0;
}
.istart-menu-wrapper.istart-week-01 {
    background-image: url([[pix:theme|istart/start-here]]);
    background-repeat: no-repeat;
    background-position: 20px 0;
    padding-top: 57px;

}
ul.istart-menu {
	padding: 0;
	margin: 0;
	list-style: none;
}
ul.istart-menu li {
	padding: 0;
	margin: 0;
	width: 25%;
	float: left;
}
ul.istart-menu li a {
	width: 128px;
    height: 128px;
    max-width: 100%;
    display: block;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    font-size: 1.1em;
}
ul.istart-menu li a span {
    display: block;
    padding-top: 100%;
}
ul.istart-menu li.istart-menu-watch a {
	background-image: url([[pix:theme|istart/menu-watch]]);
}
ul.istart-menu li.istart-menu-read a {
	background-image: url([[pix:theme|istart/menu-read]]);
}
ul.istart-menu li.istart-menu-connect a {
	background-image: url([[pix:theme|istart/menu-connect]]);
}
ul.istart-menu li.istart-menu-do a {
	background-image: url([[pix:theme|istart/menu-do]]);
}

/* iStart24 Flex Sections */
.format-flexsections .course-content ul.flexsections
li.section.main.istart-week-task {
    padding-top: 2.5em;
}
.istart-week-task h3 {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 1.2em;
    white-space:nowrap;
    max-height: 24px;
}
.istart-week-task.istart-week-task-watch h3 {
    background-image: url([[pix:theme|istart/title-watch]]);
}
.istart-week-task.istart-week-task-read h3 {
    background-image: url([[pix:theme|istart/title-read]]);
}
.istart-week-task.istart-week-task-connect h3 {
    background-image: url([[pix:theme|istart/title-connect]]);
}
.istart-week-task.istart-week-task-do h3 {
    background-image: url([[pix:theme|istart/title-do]]);
}
.istart-week-task h3.sectionname a {
    color: black;
}
.course-content ul li.section.main.istart-week-task {
    border-bottom: 0;
}
