/* 
    Document   : content
    Created on : 10/05/2011, 11:21:08 AM
    Author     : timbutler
    Description:
        Contains Academy specific styles for content and assessments.
*/

/* Assessments */
.unassessed-assessment input.answer {
    display: block;
    width: 360px;
    margin: 1em;
}

/* Lessons */
table.roleplaymedia th,
table.roleplaymedia td {
  padding: 0;
}

/* Overlays*/
iframe.overlay {
    border: 0;
    width: 100%;
}
.moodle-dialogue-base .moodle-dialogue .moodle-dialogue-bd {
    padding-bottom: 0; /* Remove extra whitespace */
}