/* 
    Document   : content
    Created on : 10/05/2011, 11:21:08 AM
    Author     : timbutler
    Description:
        Contains Academy specific styles for content and assessments.
*/

/* All content */
img.img-bordered {
    border: 1px solid #ddd;
}

img.img-padded {
    margin: 6px;
}

img.img-align-left {
    float: left;
    margin: 0 6px 6px 0;
}

img.img-align-right {
    float: right;
    margin: 0 0 6px 6px;
}

/* Assessments */
.unassessed-assessment input.answer {
    display: block;
    width: 360px;
    margin: 1em;
}

/* Lessons */
table.roleplaymedia th,
table.roleplaymedia td {
  padding: 0;
}

/* NZ Online CE */
table.table-indented {
    margin-left: 2em;
    margin-right: 2em;
}

table.ce2013-weblink {
    width: 100%;
}

/* iStart24 Online */
.istartaction {
    padding: 0 0 4px 58px;
    border-bottom: 1px solid #eee;
    min-height: 60px;
    font-style: italic;
}

.istartaction.istartaction-affirmations {
    background: url([[pix:theme|istart/affirmations]]) top left no-repeat;
}
.istartaction.istartaction-form {
    background: url([[pix:theme|istart/form]]) top left no-repeat;
}
.istartaction.istartaction-letter {
    background: url([[pix:theme|istart/letter]]) top left no-repeat;
}
.istartaction.istartaction-material {
    background: url([[pix:theme|istart/material]]) top left no-repeat;
}
.istartaction.istartaction-online {
    background: url([[pix:theme|istart/online]]) top left no-repeat;
}
.istartaction.istartaction-purchase {
    background: url([[pix:theme|istart/purchase]]) top left no-repeat;
}
.istartaction.istartaction-read {
    background: url([[pix:theme|istart/read]]) top left no-repeat;
}
.istartaction.istartaction-schedule {
    background: url([[pix:theme|istart/schedule]]) top left no-repeat;
}
.istartaction.istartaction-script {
    background: url([[pix:theme|istart/script]]) top left no-repeat;
}
.istartaction.istartaction-tutorial {
    background: url([[pix:theme|istart/tutorial]]) top left no-repeat;
}
.istartaction.istartaction-video {
    background: url([[pix:theme|istart/video]]) top left no-repeat;
}
.istartaction.istartaction-write {
    background: url([[pix:theme|istart/write]]) top left no-repeat;
}
