/* 
    Document   : course
    Created on : 13/08/2013, 3:55:40 PM
    Author     : timbutler
    Description:
        Styles for displaying course content.
*/

/*h2.headingblock {
    border-width: 0 0 1px 0;
    padding: 5px 5px 2px;
    font-weight: normal;
    font-size: 1.2em;
    background: none;
    color: #251c17;
}

.site-topic ul.section,
.course-content ul.section  {
    margin: 0;
}

ul.topics div.content > ul li:first-child.activity {
    margin-top: 0;
    padding-top: 0;
}*/

ul.topics li.section, ul.weeks li.section {
    /* All course topics. */
}

ul.topics li#section-0, ul.weeks li#section-0 {
    /* First course section. */
}
/*ul.weeks li.section.current, ul.topics li.section.current  {
    border: 1px solid #09f;
    font-weight: normal;
    color: #212121;
}*/

/*div.summary div {
    padding: 5px 0px 5px 0px;
}*/

/*ul.topics div.content > ul li.activity {
    margin-top: 8px;
    padding: 4px;
}*/

/*.path-course-view.section .left.side {
    background: none;
}

.path-course-view li.activity {
    margin-left: 20px;
    position: relative;
}*/

/*.course-content .section.main {
    border: none;
}

.course-content ul.topics li.section .content {
    margin: 0;
    padding: 10px;
}
.path-course-view .jumpmenu {
    padding: 15px;
}*/

/* Fix for ordered and unordered list in course topic summary & course weekly summary */
ul, li ul, 
.course-content ul.weeks .content .summary ul,
.course-content ul.topics .content .summary ul {list-style: disc outside none;}
ol, li ol, 
.course-content ul.weeks .content .summary ol,
.course-content ul.topics .content .summary ol {list-style: decimal outside none;}

/* Remove bullet points next to download report links. */
ul.export-actions { margin-top: 1em; }
ul.export-actions li { list-style: none; }

/* Make the toggle completion image appear on the same line as mod/labels. */
.section .activity.label div.mod-indent > div {
    float: left;
}

li.activity.label,
.file-picker td.label {
    padding: 0.2em;
}

/* Course editing */
/*  Hide duplicate activity icon as duplication content in a course with
    completion tracking turned on breaks the course. */
.editing_duplicate {
    display: none;
}

