/* 
    Document   : course
    Created on : 13/08/2013, 3:55:40 PM
    Author     : timbutler
    Description:
        Styles for displaying course content.
*/

ul.topics li.section, ul.weeks li.section {
    /* All course topics. */
}

ul.topics li#section-0, ul.weeks li#section-0 {
    /* First course section. */
}

/* Fix for ordered and unordered list in course topic summary & course weekly summary */
ul, li ul, 
.course-content ul.weeks .content .summary ul,
.course-content ul.topics .content .summary ul {list-style: disc outside none;}
ol, li ol, 
.course-content ul.weeks .content .summary ol,
.course-content ul.topics .content .summary ol {list-style-position: outside;}

/* Remove bullet points next to download report links. */
ul.export-actions { margin-top: 1em; }
ul.export-actions li { list-style: none; }

/* START M#20 Vertically align the activity completion checkbox to the top of the activity */
.section .activity .activityinstance,
.section .activity .activityinstance div {
    display: block;
}

div.activityinstance form.togglecompletion,
div.activityinstance span.autocompletion {
    margin: 0 6px;
}
/* END M#20 Vertically align the activity completion checkbox to the top of the activity */

.course-content ul.topics li.section .summary {
    margin-left: 20px;
}

li.activity.label,
.file-picker td.label {
    padding: 0.2em;
}

/* Course editing */
/*  Hide duplicate activity icon as duplication content in a course with
    completion tracking turned on breaks the course. */
.editing_duplicate {
    display: none;
}

.left.side{display:none}
.editing .left.side{display:inline}