/* 
    Document   : videofile
    Created on : 20/03/2014, 3:38:17 PM
    Author     : timbutler
    Description:
        Style to enable videofile videos to play embedded in course pages.
*/

.videofile-container {
    position: relative;
    padding-bottom: 75%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.videofile-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.section .activity.videofile .mod-indent-outer {
    width: 100%; /* Fixes tiny video displaysize introduced when Moodle 2.7 changed .mod-indent-outer to be display: table */
}
