
{{!                                                                                                                                 
    This file is part of Moodle - http://moodle.org/                                                                                
                                                                                                                                    
    Moodle is free software: you can redistribute it and/or modify                                                                  
    it under the terms of the GNU General Public License as published by                                                            
    the Free Software Foundation, either version 3 of the License, or                                                               
    (at your option) any later version.                                                                                             
                                                                                                                                    
    Moodle is distributed in the hope that it will be useful,                                                                       
    but WITHOUT ANY WARRANTY; without even the implied warranty of                                                                  
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                                                                   
    GNU General Public License for more details.                                                                                    
                                                                                                                                    
    You should have received a copy of the GNU General Public License                                                               
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.                                                                 
  }}                                                                                                                                  
  {{!                                                                                                                                 
    @template core/pix_icon                                                                                                         
                                                                                                                                    
    Moodle pix_icon template.                                                                                                       
                                                                                                                                    
    The purpose of this template is to render a pix_icon.                                                                           
                                                                                                                                    
    Classes required for JS:                                                                                                        
    * none                                                                                                                          
                                                                                                                                    
    Data attributes required for JS:                                                                                                
    * none                                                                                                                          
                                                                                                                                    
    Context variables required for this template:                                                                                   
    * attributes Array of name / value pairs.                                                                                       
                                                                                                                                    
    Example context (json):                                                                                                         
    {                                                                                                                               
        "attributes": [                                                                                                             
            { "name": "src", "value": "http://moodle.com/wp-content/themes/moodle/images/logo-hat2.png" },                          
            { "name": "class", "value": "iconsmall" }                                                                               
        ]                                                                                                                           
    }                                                                                                                               
                                                                                                                                    
  }}
  <div class="well">
    <h4><a href="{{courseurl}}">{{name}}</a></h4>
    <div class="progress">
      <div data-toggle="tooltip" data-placement="top" title="" data-original-title="Getting Started the Harcourts Way" class="bar bar-success" style="width: 20%;"><i class="fa fa-check" aria-hidden="true"></i></div>
      <div data-toggle="tooltip" data-placement="top" title="" data-original-title="Sales Registration" class="bar bar-success" style="width: 20%;"><i class="fa fa-check" aria-hidden="true"></i></div>
      <div data-toggle="tooltip" data-placement="top" title="" data-original-title="iStart Online" class="bar bar-warning" style="width: 20%;"><i class="fa fa-calendar-times-o" aria-hidden="true"></i></div>
      <div class="bar bar-info" style="width: 20%;"><i class="fa fa-play" aria-hidden="true"></i></div>
      <div class="bar bar-warning" style="width: 20%;"><i class="fa fa-calendar-times-o" aria-hidden="true"></i></div>
    </div>

    <div class="progress">
        {{# subcourses }}
      <div data-toggle="tooltip" data-placement="top" title="" data-original-title="Getting Started the Harcourts Way" class="bar bar-success" style="width: {{ progresswidth }};"><i class="fa fa-check" aria-hidden="true"></i> {{ name }}</div>
        {{/ subcourses }}
    </div>
{{#js}}
require(['jquery','theme_bootstrapbase/bootstrap'], function($) {
    // Effects! Can we have "blink"?
    $('[data-toggle="tooltip"]').tooltip()    
});
{{/js}}
  </div>
