.h1-link-wrapper {
    display: block;
    float: left;
    padding: 10px;
}

.h1-link-wrapper a {
    display: block;
    width: 200px;
    height: 132px;
    overflow: hidden;
    border: 1px solid #7e7e7e;
}

.h1-link-wrapper a:link,
.h1-link-wrapper a:visited,
.h1-link-wrapper a:hover,
.h1-link-wrapper a:active {
    color: #fff;
    text-decoration: none;
}

.h1-link-wrapper a:hover {
    border-color: #002e63;
}

.h1-link-wrapper a#australia {
    background: url([[pix:auth_harcourtsone|australia]]) no-repeat;
}

.h1-link-wrapper a#new-zealand {
    background: url([[pix:auth_harcourtsone|new-zealand]]) no-repeat;
}

.h1-link-wrapper a#south-africa {
    background: url([[pix:auth_harcourtsone|south-africa]]) no-repeat;
}

.h1-link-wrapper a#usa {
    background: url([[pix:auth_harcourtsone|usa]]) no-repeat;
}

.h1-link-wrapper a img {
    vertical-align: text-bottom;
}

.h1-link-text-overlay {
    display: block;
    /* Fallback for web browsers that doesn't support RGBa */
    background: #F7F7F7;
    /* RGBa with 0.5 opacity */
    background: rgba(0, 0, 0, 0.5);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#77000000, endColorstr=#77000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#77000000, endColorstr=#77000000)";
    font-size: 12pt;
    padding-left: 3px;
    position: relative;
    height: 21px;
    top: 111px;
    width: 197px;
}

.h1-link-wrapper a:hover .h1-link-text-overlay {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 46, 99);
    /* RGBa with 0.5 opacity */
    background: rgba(0, 46, 99, 0.5);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#77002e63, endColorstr=#77002e63);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#77002e63, endColorstr=#77002e63)";
}