.block_academy_score h1 {margin: 4px;font-size: 1.1em;}
.block_academy_score .score-total { text-align: center; font-size: 2em; font-weight: bold; }

.block_academy_score table.grades {text-align: left;width: 100%; cell-spacing: 1;}
.block_academy_score th {text-align: left}
.block_academy_score table.grades .number,
.block_academy_score table.grades .grade {text-align: right;width: 10%;}
.block_academy_score table.grades caption {margin: 1em 0px 0px 0px;border-bottom-width: 1px;border-bottom-style: solid;font-weight: bold;}
