/**
<p>User profile country tests:</p>
<p>Australia</p>
<ul>
  <li class="visible-country-au">Shown in AU</li>
  <li class="hidden-country-au">Hidden in AU</li>
</ul>
<p>Canada</p>
<ul>
  <li class="visible-country-ca">Shown in CA</li>
  <li class="hidden-country-ca">Hidden in CA</li>
</ul>
<p>Indonesia</p>
<ul>
  <li class="visible-country-id">Shown in ID</li>
  <li class="hidden-country-id">Hidden in ID</li>
</ul>
<p>New Zealand</p>
<ul>
  <li class="visible-country-nz">Shown in NZ</li>
  <li class="hidden-country-nz">Hidden in NZ</li>
</ul>
<p>USA</p>
<ul>
  <li class="visible-country-us">Shown in US</li>
  <li class="hidden-country-us">Hidden in US</li>
</ul>
<p>South Africa</p>
<ul>
  <li class="visible-country-za">Shown in ZA</li>
  <li class="hidden-country-za">Hidden in ZA</li>
</ul>
*/

body {
  &.user-profile-country-au {
    .hidden-country-au {
      display: none;
    }
    .visible-country-ca {
      display: none;
    }
    .visible-country-id {
      display: none;
    }
    .visible-country-nz {
      display: none;
    }
    .visible-country-us {
      display: none;
    }
    .visible-country-za {
      display: none;
    }
  }

  &.user-profile-country-ca {
    .visible-country-au {
      display: none;
    }
    .hidden-country-ca {
      display: none;
    }
    .visible-country-id {
      display: none;
    }
    .visible-country-nz {
      display: none;
    }
    .visible-country-us {
      display: none;
    }
    .visible-country-za {
      display: none;
    }
  }

  &.user-profile-country-id {
    .visible-country-au {
      display: none;
    }
    .visible-country-ca {
      display: none;
    }
    .hidden-country-id {
      display: none;
    }
    .visible-country-nz {
      display: none;
    }
    .visible-country-us {
      display: none;
    }
    .visible-country-za {
      display: none;
    }
  }

  &.user-profile-country-nz {
    .visible-country-au {
      display: none;
    }
    .visible-country-ca {
      display: none;
    }
    .visible-country-id {
      display: none;
    }
    .hidden-country-nz {
      display: none;
    }
    .visible-country-us {
      display: none;
    }
    .visible-country-za {
      display: none;
    }
  }

  &.user-profile-country-us {
    .visible-country-au {
      display: none;
    }
    .visible-country-ca {
      display: none;
    }
    .visible-country-id {
      display: none;
    }
    .visible-country-nz {
      display: none;
    }
    .hidden-country-us {
      display: none;
    }
    .visible-country-za {
      display: none;
    }
  }

  &.user-profile-country-za {
    .visible-country-au {
      display: none;
    }
    .visible-country-ca {
      display: none;
    }
    .visible-country-id {
      display: none;
    }
    .visible-country-nz {
      display: none;
    }
    .visible-country-us {
      display: none;
    }
    .hidden-country-za {
      display: none;
    }
  }
}

body.editing {
  .visible-country-au {
    background-color: rgb(151, 233, 108);
    display: inline;
  }
  .hidden-country-au {
    .visible-country-au;
    text-decoration: line-through;
    opacity: 0.75;
  }
  .visible-country-ca {
    background-color: rgb(226, 42, 42);
    display: inline;
  }
  .hidden-country-ca {
    .visible-country-ca;
    text-decoration: line-through;
    opacity: 0.75;
  }
  .visible-country-id {
    background-color: rgb(224, 250, 14);
    display: inline;
  }
  .hidden-country-id {
    .visible-country-id;
    text-decoration: line-through;
    opacity: 0.75;
  }
  .visible-country-nz {
    background-color: rgb(115, 115, 115);
    display: inline;
  }
  .hidden-country-nz {
    .visible-country-nz;
    text-decoration: line-through;
    opacity: 0.75;
  }
  .visible-country-us {
    background-color: rgb(50, 115, 227);
    display: inline;
  }
  .hidden-country-us {
    .visible-country-us;
    text-decoration: line-through;
    opacity: 0.75;
  }
  .visible-country-za {
    background-color: rgb(195, 151, 64);
    display: inline;
  }
  .hidden-country-za {
    .visible-country-za;
    text-decoration: line-through;
    opacity: 0.75;
  }
}
